[defaults]
# (Paths are relative to the location of this file in an AWX project)
inventory = ./inventory
roles_path = ./roles
collections_path = ./collections
host_key_checking = False
retry_files_enabled = False

[ssh_connection]
pipelining = True
